@import url('https://fonts.googleapis.com/css?family=Pacifico');

@font-face {
  font-family: 'Jenna Sue';
  src: url('../fonts/JennaSue.ttf') format('truetype'),
    url('../fonts/JennaSue.woff2') format('woff2'),
    url('../fonts/JennaSue.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.hero span,
.hero p {
  font-family: 'Jenna Sue', serif;
  color: #600093;
}

.hero h1, .hero h2, .hero h3 {
  margin: 0;
}

body {
  margin: 0;
}

h2 {
  font-size: 72px;
}

.hero__links a {
  font-size: 48px;
  display: block;
  margin: 16px 0;
  border-bottom: 2px solid #600093;
}

a {
  font-size: 36px;
  border-bottom: 1px solid #600093;
  width: fit-content;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #cf76ff;
  border-bottom: 2px solid #cf76ff;
}

section.hero {
  min-height: fit-content;
  height: 100vh;
  width: 100vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url('https://res.cloudinary.com/df3ikytgy/image/upload/q_auto:good/v1545094468/wedding-site/main-bg.png');
}

.hero__gradient-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right,
    #f7e8ff 50%,
    rgba(247, 232, 255, 50) 55%,
    rgba(196, 196, 196, 0) 75%
  );
}

.hero__content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 52%;
}

.hero h1 {
  font-size: 136px;
}

p.hero__subtext--gray {
  margin: 0;
  font-size: 72px;
  color: #b2b2b2;
}

.hero__date {
  font-size: 64px;
  margin-top: 0;
}

.countdown {
  text-align: center;
  margin-top: 32px;
  width: 80%;
}

.countdown__emphasis {
  font-size: 96px;
}

.countdown__normal {
  font-size: 72px;
}

.hero__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}

@media screen and (max-width: 1100px) {
  @font-face {
    font-family: 'Jenna Sue';
    src: url('../fonts/JennaSue.ttf') format('truetype'),
      url('../fonts/JennaSue.woff2') format('woff2'),
      url('../fonts/JennaSue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  section.hero {
    background-image: url('https://res.cloudinary.com/df3ikytgy/image/upload/e_grayscale,q_auto:good/e_brightness:-50/v1545094468/wedding-site/main-bg.png');
    background-size: cover;
    background-position: right;
  }

  .hero h1 {
    font-size: 64px;
  }

  .hero__gradient-container {
    display: flex;
    background: transparent;
    justify-content: center;
    padding: 0;
    height: unset;
  }

  .hero__content-container {
    text-align: center;
    padding: 24px 0;
    width: 100%;
  }

  .countdown {
    margin-top: 32px;
  }

  .countdown__emphasis {
    font-size: 64px;
  }

  .countdown__normal {
    font-size: 36px;
  }

  .hero h1,
  .hero h2,
  .hero h3,
  .hero h4,
  .hero a,
  .hero span,
  .hero p,
  .hero__subtext--gray {
    font-family: 'Jenna Sue', cursive;
    color: #f7e8ff;
    line-height: 1;
  }

  .hero__subtext--gray {
    font-size: 36px;
  }
}
