@font-face {
  font-family: 'Jenna Sue';
  src: url('../fonts/JennaSue.woff2') format('woff2'),
    url('../fonts/JennaSue.woff') format('woff'),
    url('../fonts/JennaSue.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  background-color: #f7e8ff;
}
